<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCqvHxHdt8yVuWwP5jXPkJkXaiMFr1-6cI</string>
	<key>GCM_SENDER_ID</key>
	<string>1009934192640</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fakrny.ios</string>
	<key>PROJECT_ID</key>
	<string>fakrny-8537b</string>
	<key>STORAGE_BUCKET</key>
	<string>fakrny-8537b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009934192640:ios:c0d875ceed6098139548e5</string>
</dict>
</plist>